# === Rust / Cargo ===
target/
Cargo.lock

# === IDEs ===

# VSCode
.vscode/
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json

# JetBrains / WebStorm / CLion / RustRover
.idea/
*.iml

# === FerrisUp ===
.ferrisup/backup/
.ferrisup/temp/

# === OS Files ===
.DS_Store
Thumbs.db

# === Logs ===
*.log

# === Misc ===
*.bak
