services:
  rustfs:
    image: rustfs/rustfs:latest
    container_name: rustfs_local
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - rustfs_data:/data
    command: ["/data"]

  music-blobs:
    build:
      context: ../../../dogrs
      dockerfile: dog-examples/music-blobs/Dockerfile
    container_name: music_blobs_app
    ports:
      - "3030:3030"
    env_file:
      - .env
    environment:
      - HTTP_HOST=0.0.0.0
    depends_on:
      - rustfs
    volumes:
      - ./static:/app/static

volumes:
  rustfs_data:
    driver: local
